<section id="main_why" class="main_why">
    <div class="main_why__in center_block">
        <div class="main_why__item">
            <div class="main_why__title">Почему нам <br>доверяют</div>
            <div class="main_why__blocks">
                <div class="main_why__block">
                    <div class="main_why__l-side">
                        <div class="main_why__tit">Воспользуйся услугой бесплатно</div>
                        <div class="main_why__txt">Мы не берем денег за подбор займов</div>
                    </div>
                    <div class="main_why__r-side">
                        <img src="./img/img_money1.png" alt="">
                    </div>
                </div>
                <div class="main_why__block">
                    <div class="main_why__l-side">
                        <div class="main_why__tit">Сэкономьте свое время</div>
                        <div class="main_why__txt">Вам не придется тратить время на просмотр каталога предложений и сравнивать условия</div>
                    </div>
                    <div class="main_why__r-side">
                        <img src="./img/img_money2.png" alt="">
                    </div>
                </div>
                <div class="main_why__block">
                    <div class="main_why__l-side">
                        <div class="main_why__tit">Индивидуальный подход</div>
                        <div class="main_why__txt">На основе ваших запросов мы подберем подходящие для вас предложения
                            с высокой вероятностью одобрения</div>
                    </div>
                    <div class="main_why__r-side">
                        <img src="./img/img_money3.png" alt="">
                    </div>
                </div>
                <div class="main_why__block">
                    <div class="main_why__l-side">
                        <div class="main_why__tit">Ваши данные <br>под защитой</div>
                        <div class="main_why__txt">Компания обеспечивает выполнение обязательств
                            по соблюдению конфиденциальности, а также технических
                            и организационных мер безопасности</div>
                    </div>
                    <div class="main_why__r-side">
                        <img v-if="sizes.window >= 1023" src="./img/img_money4.svg" alt="">
                        <img v-if="sizes.window <= 1023" src="./img/img_money5.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>